@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Patrick+Hand&display=swap');

body {
    color: #435334;
    background-color: #CEDEBD;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    align-items: center; 
    width: auto;
    font-family: 'Patrick Hand', cursive;
}
#game {
    background-color: #FAF1E4;
    border: #435334;
    border-radius: 20%;
    margin-top: 25px;
    margin-bottom: 25px;
}
#Landing-Page {
    margin-bottom: 10px;
    margin-left: 200px;
    margin-right: 200px;

}
.Landing-title {
    font-size: 70px;
    margin: auto;
}
.Landing-subtitle {
    margin: 10px;
    font-size:xx-large ;
}
.landing-Message {
    font-style: initial;
    font-size: larger;
}

#player-Mokepon-choise {
    margin-top: 10px;
}
.sub-title {
    font-style: oblique;
}
.image img {
    width: 52px;
    height: 52px;
}
.Mokepon-card {
    background-color: #CEDEBD;
    height: 125px;
    width: 125px;
    padding: 1.5%;
    box-sizing: border-box;
    border: 6px solid;
    border-radius: 50%;
    margin-top: 0.4%;
    margin-bottom: 0.4%;
    gap: 0.4%;
    display: inline-flex;
    text-align: center; 
}
.Mokepon-card label {
    cursor: pointer;
    font-style: oblique;
    margin: auto;
    text-align: center;
}
.Mokepon-card:hover {
    color: #9EB384;
}
.Mokepon-card img {
    display: flexbox;
    flex-direction: row;
}
input {
    display: none;
}


#button-select-mokepon {
    margin-top: 10px;
}
#battle-images {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    align-items: center;
    background: center;
    border: 4px solid ;
    color: #435334;;
    border-radius: 20px;

}
#image-rival-mokepon {
    margin-right: 25px;
    display: flex;
    flex-direction: row-reverse;
}
#image-rival-mokepon > h3 {
    transform: rotate(10deg);
}
#image-rival-mokepon > img {
    transform: scaleX(1);
}
#image-player-mokepon {
    margin-left: 25px;
    display: flex;
    flex-direction: row;
}
#image-player-mokepon > h3 {
    transform: rotate(-10deg);
}
#image-player-mokepon > img {
    transform: scaleX(-1);
}

#battle-status {
    overflow: scroll;
    margin: auto;
    text-align: center;
    align-items: center;
    width: 100px;
    height: 50px;
}


#battle-messages {
    display: flex;
}
#battle-messages h2 {

    margin: auto;
}

.user-button {
    background-color: #CEDEBD;
    color: #435334;
    margin-bottom: 10px;
    margin-top: auto;
    margin-left: auto;
    margin-right:auto ;
    font-family: 'Lato', sans-serif;
    border: 4px solid;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    width: 270px;
    height: 50px;
}
.user-button:hover {
    cursor: pointer;
    color: #9EB384;
}

footer{
    margin-bottom: 10px;
}