body {
    margin: auto;
    width: 860px; 
    padding: 50px;
    font-family: 'Arial', sans-serif; 
    color: #33475b; 
    background-color: #EEEEEE;
}

h1 {
    color: #053B50;
    width: 301px;
    height: 50px;
}

h2 {
    color: #053B50;
}

h4 {
    color: #053B50;
}

P {
    color: #176B87;
}

label {
    background-color: #b3cee9;
    color: #176B87;
    width: 310px;
    height: 50px;
}

#button-select-mokepon {
    background-color: #b3cee9;
    color: #176B87;
    width: 310px;
    height: 50px;
}

input {
    background-color: #306275;
    width: 310px;
    height: 50px;
}

img{
    width: 16px;
    height: 16px;
}